.task-sidebar {
    position: fixed;
    top: 0;
    right: 0;
    width: 1000px;
    height: 100%;
    background: #fff;
    box-shadow: -2px 0 8px rgba(0,0,0,0.1);
    z-index: 1100;
    padding: 32px;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.edit-description-button {
    padding: 8px 20px;
    background: #e0e0e0;
    color: #333;
    border: none;
    border-radius: 6px;
    font-weight: 600;
    cursor: pointer;
    width: 150px;
}

.task-sidebar .save-button {
    padding: 8px 20px;
    background: #198754;
    color: white;
    border: none;
    border-radius: 6px;
    font-weight: 600;
    cursor: pointer;
    width: 150px;
    margin-right: 12px;
}

.task-sidebar h2 {
    text-align: center;
    margin-top: 0;
    font-size: 1.5rem;
    margin-bottom: 16px;
}

.task-sidebar .coach-upload-section {
    margin-top: 24px;
    margin-bottom: 24px;
    padding: 16px;
    border: 2px black solid;
    border-radius: 8px;
}

.task-sidebar .coach-upload-section form {
    display: flex;
    flex-direction: column;
    margin-top: 8px;
    gap: 4px;
}

.task-sidebar .coach-upload-section input[type="text"] {
    padding: 8px 12px;
    border-radius: 6px;
    margin-bottom: 8px;
    width: 100%;
    font-size: 1rem;
}

.task-sidebar .coach-upload-section button {
    padding: 4px;
    cursor: pointer;
    width: 150px;
    background-color: #0D6EFD;
    border-radius: 8px;
}

.task-sidebar .close-button {
    width: 150px;
    align-self: center;
}

.submit-task-button {
    padding: 8px 20px;
    background: #6cbf6c;
    color: white;
    border: none;
    border-radius: 6px;
    font-weight: 600;
    cursor: pointer;
    width: 150px;
    margin-top: 12px;
}

.submitted_message {
    font-weight: 600;
    margin-bottom: 8px;
    color: #198754;
}

.unsubmit-task-button {
    padding: 8px 20px;
    background: #dc3545;
    color: white;
    border: none;
    border-radius: 6px;
    font-weight: 600;
    cursor: pointer;
    width: 150px;
    margin-top: 12px;
}