.teammates-page {
    margin-top: 12px;
    width: 100%;
}

.teammates-page h1 {
    text-align: center;
}

.user-row {
    border: 2px solid black;
    border-radius: 20px;
    padding: 12px;
    margin-bottom: 8px;
    display: flex;
    align-items: center;
    gap: 12px;
}